/*********************************************/
/*                                           */
/*                   init                    */
/*                                           */
/*********************************************/

body {
	font-size: 1.2em;
	line-height: 150%;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

a, a:hover, a:active, a:visited, a:link {
	text-decoration: none;
	color: inherit;
}

/*********************************************/
/*                                           */
/*            bootstrap override             */
/*                                           */
/*********************************************/

.container-fluid {
	max-width: 960px;
}


/*********************************************/
/*                                           */
/*                  styles                   */
/*                                           */
/*********************************************/

.pd_0 {
	padding: 0;
}

.pd_5 {
	padding: 5px;
}

.pd_10 {
	padding: 10px;
}

.pd_15 {
	padding: 15px;
}

.pd_20 {
	padding: 20px;
}

.pd_tb_5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.pd_tb_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pd_tb_15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pd_tb_20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pd_lr_5 {
	padding-left: 5px;
	padding-right: 5px;
}

.pd_lr_10 {
	padding-left: 10px;
	padding-right: 10px;
}

.pd_lr_15 {
	padding-left: 15px;
	padding-right: 15px;
}

.pd_lr_20 {
	padding-left: 20px;
	padding-right: 20px;
}

.fs_0_9 {
	font-size: 0.9em;
}

.fs_1_0 {
	font-size: 1.0em;
}

.fs_1_0_b {
	font-size: 1.0em;
	font-weight: 600;
}

.fs_1_8_b {
	font-size: 1.8em;
	font-weight: bold;
}

.fs_2_4 {
	font-size: 2.4em;
}

.fc_charcoal {
	color: #333;
}

.va_btm {
	vertical-align: bottom;
	line-height: 1;
}

.va_mid {
	vertical-align: middle;
}

.basebox {
	background: #FFF;
	border-radius: 2px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.center_block {
	float: none;
	margin-left: auto;
	margin-right: auto;
}


/*********************************************/
/*                                           */
/*              layout & element             */
/*                                           */
/*********************************************/

body {
	background: #EEE;
	font-family: 'Raleway', sans-serif;
}

#header {
	background: #BB2211;
	color: #FFF;
}

#footer {
	border-top: 1px solid #DDD;
	background: #EEE;
	color: #222;
}

.ul_base {
	padding: 0;
	margin: 0;
	list-style: none;
}

.ul_base > li {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px solid #F7F7F7;
}

.ul_base > li:first-child {
	border: none;
}

#sidebar .user_profile {
	padding: 50%;
	background: #CCC;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#sidebar .user_name {
	padding-left: 0;
	padding-top: 7px;
	line-height: 1.2;
}

.content .user_profile {
	float: left;
	width: 60px;
	padding: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content .user_info {
	height: 60px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #EEE;
}
