/*********************************************/
/*                                           */
/*                   init                    */
/*                                           */
/*********************************************/

body {
	font-size: 1.3em;
	line-height: 150%;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

a, a:hover, a:active, a:visited, a:link {
	text-decoration: none;
	color: inherit;
}

/*********************************************/
/*                                           */
/*            bootstrap override             */
/*                                           */
/*********************************************/

.container-fluid {
	max-width: 960px;
}


/*********************************************/
/*                                           */
/*                  styles                   */
/*                                           */
/*********************************************/

.pd_0 {
	padding: 0;
}

.pd_5 {
	padding: 5px;
}

.pd_10 {
	padding: 10px;
}

.pd_15 {
	padding: 15px;
}

.pd_20 {
	padding: 20px;
}

.pd_tb_5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.pd_tb_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pd_tb_15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.pd_tb_20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pd_lr_5 {
	padding-left: 5px;
	padding-right: 5px;
}

.pd_lr_10 {
	padding-left: 10px;
	padding-right: 10px;
}

.pd_lr_15 {
	padding-left: 15px;
	padding-right: 15px;
}

.pd_lr_20 {
	padding-left: 20px;
	padding-right: 20px;
}

.fs_0_9 {
	font-size: 0.9em;
}

.fs_1_0 {
	font-size: 1.0em;
}

.fs_1_0_b {
	font-size: 1.0em;
	font-weight: 600;
}

.fs_1_8_b {
	font-size: 1.8em;
	font-weight: bold;
}

.fs_2_4 {
	font-size: 2.4em;
}

.fc_charcoal {
	color: #333;
}

.va_btm {
	vertical-align: bottom;
	line-height: 1;
}

.va_mid {
	vertical-align: middle;
}

.basebox {
	background: #FFF;
	border-radius: 2px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22);
}

.center_block {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.pos_t_50 {
    position: relative;
    top: 50%;
}


/*********************************************/
/*                                           */
/*              layout & element             */
/*                                           */
/*********************************************/

body {
	background: #EEE;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

#header {
	background: #d14955;
	color: #FFF;
}

#footer {
	border-top: 1px solid #DDD;
	background: #EEE;
	color: #222;
}

.ul_base {
	padding: 0;
	margin: 0;
	list-style: none;
}

.ul_base > li {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px solid #F7F7F7;
}

.ul_base > li:first-child {
	border: none;
}

#sidebar .user_profile {
	padding: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#sidebar .user_name {
	padding-left: 0;
	padding-top: 7px;
	line-height: 1.2;
}

#timeline_header {
	height: 200px;
	margin-bottom: 0;
	background: url('http://assets.worldwildlife.org/photos/2842/images/hero_small/shutterstock_12730534.jpg?1352150501');
	color:#FFF;
	font-weight:bold;
}

.regdate {
	font-size: 0.8em;
	color: #888;
}

.content .user_name {
	color: #557ea3;
}

.content .user_info {
	height: 60px;
	padding-left: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEE;
}

.content .user_profile {
	float: left;
	width: 50px;
	padding: 25px;
	margin-left: -50px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.read.content .user_profile {
	float: left;
	width: 40px;
	padding: 20px;
	margin-left: -40px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#textbox {
	width: 100%;
	border: none;
}

#toolbox {
	border-top: 1px solid #EEE;
}

#toolbox > .btn {
	margin: 0 10px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
}

#toolbox > .btn_camera {
	background-image: url('../images/camera.png');
}

#toolbox > .btn_attach {
	background-image: url('../images/attach.png');
}

#toolbox > .btn_food {
	background-image: url('../images/food.png');
}

.attach_title {
	border-top: 1px solid #DDD;
	/*border-bottom: 1px solid #DDD;*/
	color: #888;
}

.attach_thumb {
	position: relative;
	float: left;
	padding: 6%;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	list-style: none;
}

.attach_fileinfo {
	position: relative;
	margin-bottom: 10px;
	list-style: none;
	color: #666;
}

.attach_fileinfo .detach_button {
	position: static;
	vertical-align: middle;
}

.lunch {
	position: relative;
	margin-bottom: 10px;
	list-style: none;
	color: #666;
	font-size: 2.4em;
	font-weight: bold;
	line-height: 1;
}

.lunch .detach_button {
	position: static;
	vertical-align: middle;
}

#lunch_placeholder {
	padding: 0;
	margin-bottom: 30px;
}

.detach_button {
	display: inline-block;
	position: absolute;
	right: -5px;
	top: -5px;
	border: 1px solid #DDD;
	border-radius: 50%;
	background-color: #FFF;
	background-image: url('/kgns/images/close.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 60%;
	list-style: none;
}

.detach_button:hover {
	background-color: #CCC;
}

#blind_wrap {
    position: fixed;
    width: 100%;
    z-index: 11;
}

#progress_wrap {
    position: relative;
    margin-top: -83px;
    height: 165px;
}
.progress_title {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #EEE;
}

.progress_body {
    padding: 18px 0;
}

.progress_con {
    height: 20px;
    background: #DDD;
}

.progress_file_name {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #999;
}

#progress_bar {
    width: 0%;
    height: 100%;
    background: #74ccd8;
}

#blind {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

.content .user_text {
	width: 100%;
	padding-left: 10px;
}

.attach_img_thumb {
	height: 80px;
	margin-right: 10px;
}

.attach_images img {
	max-width: 100%;
	margin-bottom: 10px;
}

.comments {
	overflow: hidden;
}

.comments .input_row {
}

.comment_block {
	padding-left: 60px;
	padding-bottom: 0;
	background-color: #FAFAFA;
}

.read .comment_block {
	padding-left: 50px;
	background-color: #FAFAFA;
}

.comment_block .user_text {
	border-bottom: 1px solid #EEE;
}

.comment_block:last-child .user_text {
	border-bottom: none;
}
